<div class="row" ng-controller="uploadCtrl">
  <div class="container-fluid modal-demo">
    <div class="row">
      <div class="col-md-3">
        <h3>Select files</h3>
        <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
        <!--
        <div class="form-group">
          <label>Multiple</label>
          <input type="file" nv-file-select="" uploader="vm.uploader" multiple/>
        </div>
        -->
        <div class="form-group">
          <!--<label>Single</label>-->
          <input id="file_uploader" type="file" nv-file-select="" uploader="uploader"/>
        </div>
      </div>
      <div class="col-md-9" style="margin-bottom: 40px">

        <h3>Upload status</h3>
        <!--<p>Queue length: {{ vm.uploader.queue.length }}</p>-->

        <table class="table">
          <thead>
          <tr>
            <th width="50%">Name</th>
            <th ng-show="vm.uploader.isHTML5">Size</th>
            <th ng-show="vm.uploader.isHTML5">Progress</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="item in uploader.queue">
            <td><strong>{{ item.file.name }}</strong></td>
            <td ng-show="vm.uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
            <td ng-show="vm.uploader.isHTML5">
              <div class="progress" style="margin-bottom: 0;">
                <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
              </div>
            </td>
            <td class="text-center">
              <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
              <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
              <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
            </td>
            <td nowrap>
              <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()"
                      ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                <span class="glyphicon glyphicon-upload"></span> Upload
              </button>
              <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()"
                      ng-disabled="!item.isUploading">
                <span class="glyphicon glyphicon-ban-circle"></span> Cancel
              </button>
              <button type="button" class="btn btn-danger btn-xs" ng-click="vm.removeItem(item)">
                <span class="glyphicon glyphicon-trash"></span> Remove
              </button>
            </td>
          </tr>
          </tbody>
        </table>

        <div>
          <div>
            Queue progress:
            <div class="progress" style="">
              <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
            </div>
          </div>
          <!---
          <button type="button" class="btn btn-success btn-s" ng-click="vm.uploader.uploadAll()"
                  ng-disabled="!vm.uploader.getNotUploadedItems().length">
            <span class="glyphicon glyphicon-upload"></span> Upload all
          </button>
          <button type="button" class="btn btn-warning btn-s" ng-click="vm.uploader.cancelAll()"
                  ng-disabled="!vm.uploader.isUploading">
            <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
          </button>
          <button type="button" class="btn btn-danger btn-s" ng-click="vm.uploader.clearQueue()"
                  ng-disabled="!vm.uploader.queue.length">
            <span class="glyphicon glyphicon-trash"></span> Remove all
          </button>
          --->
        </div>
      </div>
    </div>
  </div>
</div>
